#canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#start-screen, .game-over-screen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#start-screen h1, .game-over-screen h1{
    color: red;
    font-size: 48px;
    text-shadow:0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px yellow, 0 0 35px yellow, 0 0 40px yellow, 0 0 50px yellow, 0 0 75px yellow;
    margin-bottom: 50px;
}

.game-over-screen button{
    font-size: 24px;
    padding: 10px 20px;
    background-color: yellow;
    color: black;
    border-radius: 50%;
    cursor: pointer;
}

body{
    margin: 0;
}
